* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #09001d;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

.home,
.quiz-section {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home.active,
.quiz-section.active {
  display: flex;
}

.home-content {
  text-align: center;
}

.home-content h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.start-btn {
  padding: 15px 30px;
  font-size: 18px;
  background: #bf90d4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}

.quiz-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.question-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.options-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.option {
  background: #1a0b3a;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background: #bf90d4;
}

.quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-btn {
  padding: 10px 20px;
  font-size: 16px;
  background: #bf90d4;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.play-again-btn {
  padding: 5px 10px;
  font-size: 18px;
  background: #bf90d4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}

.play-again-btn {
  background: #9d6eb8;
  color: #fff;
  transform: scale (1.05);
  box-shadow: 0 0 15px rgba(191, 144, 212, 0.7);
}
